<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<script type="text/javascript">
    function leaveShow(){
        document.getElementById("leaveMessage").style.display="";
    }
</script>
<body>
<div class="row">
    <div class="col-md-4">
        <img src="/images/toux.jpg" class="img-rounded" width="90px;" data-toggle="modal" data-target="#photoModel">
    </div>
    <div class="col-md-8" style="padding-top: 5px;">
        <div style="margin :0 0 6 0"><strong><small>密码里都藏着秘密</small></strong></div>
        <div style="margin :6 6 6 0"><small>访&nbsp;&nbsp;问&nbsp;&nbsp;量:0</small></div>
        <div style="margin :6 6 6 0"><small>我的余额:0元</small></div>
        <div style="margin :6 6 6 0"><a href="javascript:void(0)" ><small>设置资料</small></a></div>
    </div>
</div>
<div class="row-fluid">
    <div style="padding-top:30px;">
        <strong><small>最近访客:</small></strong>
    </div>
</div>
<div clas="row-fluid">
    <div class="span12">
        <a href="#"><small>密码里都藏着秘密</small></a>
        <a href="#"><small>♔猫巷女王i</small></a>
        <a href="#"><small>当你不再特殊</small></a>
        <a href="#"><small>无从挽留</small></a>
        <a href="#"><small>我是怪兽我会瘦i</small></a>
        <a href="#"><small>暖心向阳。</small></a>
    </div>
</div>
<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4"><a href="#"><small style="color: lightcoral;">查看更多</small></a></div>
</div>
<div class="row-fluid">
    <div style="padding-top:30px;">
        <strong><small>我的留言:</small></strong>
    </div>
</div>
<div class="row-fluid" >
    <div>
        <a href="#"><small>密码里都藏着秘密</small></a>
        <a href="#"><small>♔猫巷女王i</small></a>
        <a href="#"><small>当你不再特殊</small></a>
        <a href="#"><small>无从挽留</small></a>
        <a href="#"><small>我是怪兽我会瘦i</small></a></small>等给你留言
    </div>
</div>
<div class="row-fluid">
    <div class="col-md-7"></div>
    <div class="col-md-5"><a href="javascript:void(0)" onclick="leaveShow()"><small style="color: lightcoral;">展开查看全部</small></a></div>
</div>
</br>
<div class="row-fluid" style="height: 300px;">
    <div id="leaveMessage" style="display:none;">
        <a href="#"><small>密码里都藏着秘密</small></a>:<small>你好啊，你吃过饭了吗?我要发很长要发很长</small>
        <blockquote class="pull-right"><button>回复</button></blockquote>
    </div>
</div>
</body>
</html>